﻿@model IEnumerable<BookLibraryFinal.Models.Genre>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.GenreName)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.GenreName)
                    </td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.GenreId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.GenreId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.GenreId })
                        </td>
                    }
                </tr>
            }

        </table>

