﻿@model PagedList.IPagedList<BookLibraryFinal.Models.Book>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" />
@{
    ViewBag.Title = "Books";
}
@if (User.IsInRole("Admin"))
{

}
<h2>Books</h2>

@if (User.Identity.IsAuthenticated && User.IsInRole("User"))
{
<p>
    @Html.ActionLink("Create New", "Create")
</p>
}

@using (Html.BeginForm("Index", "Books", FormMethod.Get))
{
    if (User.Identity.IsAuthenticated)
    {
    <p>
        Find by Title: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
    <p>
        Find by Author: @Html.TextBox("asd", ViewBag.SecFilter as string)
        <input type="submit" value="Search" />
    </p>

    <p>
        Find By Genre: @Html.DropDownList("genreList", (IEnumerable<SelectListItem>)@ViewBag.genreList, "---", new { @class = "form-control" })
        <input type="submit" value="Search" />
    </p>
    } //end if
    else if(User.IsInRole("User"))
    {
        <p>
            Find by Title: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
            <input type="submit" value="Search" />
        </p>
        <p>
            Find by Author: @Html.TextBox("asd", ViewBag.SecFilter as string)
            <input type="submit" value="Search" />
        </p>

        <p>
            Find By Genre: @Html.DropDownList("genreList", (IEnumerable<SelectListItem>)@ViewBag.genreList, "---", new { @class = "form-control" })
            <input type="submit" value="Search" />
        </p>
    }
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Author", "Index", new { sortOrder = ViewBag.AuthorSortParam, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Genre
        </th>
        <th>
            @Html.ActionLink("Title", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Release Date
        </th>
        <th>
            Description
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Author.FirstName)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre.GenreName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
@if (User.Identity.IsAuthenticated && User.IsInRole("User"))
{
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.BookId }) |
                @Html.ActionLink("Details", "Details", new { id = item.BookId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.BookId })
            </td>
}
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
